body {
    background-color: #EFEFEF;
    color: #A9A9A9;
    font-family: "Book Antiqua", serif;
}
h1 {
    color: #FF3B3F;
}
h2 {
    position: relative;
    left: 40px;
}
div {
    background-color: #CAEBF2;
    width: 80%;
    position: relative;
    left: 80px;
}
h3 {
    color: #FF3B3F;
    position: relative;
    left: 10px;
}
p {
    width: 90%;
    position: relative;
    left: 20px;
}